@model IEnumerable<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Currently I am following</h1>
<img src="/Content/Images/Follow Button Tick.png" width="900" height="820" class="img-responsive" alt="User Image"> 
<ul>
    @foreach (var artist in Model)
    {
        <li>@artist.Name</li>
    }
</ul>

